[2016-08-06 17:39] blueelvis opened #1 "Add Uninstallation option"
Right now, there is only installer, there is no way to uninstall the files without removing them completely.

Hurdles are -
- [ ] Create an uninstaller such that there is no trace left. The uninstaller itself should be deleted once it has completed it's operation.
- [ ] How to distribute the uninstaller?

One way of removing the uninstaller is using the `MoveFileEx` function. See here - https://ms

[2016-08-06 17:40] blueelvis opened #2 "Configure the Exercism Directory to the installation Path"
Right now, the CLI would be configured to fetch the exercises in the directory in which the CMD is opened. This should be defaulted to the installation directory.

[2016-08-08 01:29] michaeljohnstone opened #3 "Exercism does not install if you used default install path or if install path typed directly in"
By code inspection, the installPath variable only gets populated when user uses the browse feature, so any user using the default location or by typing in a location will have their install fail with no feedback provided

[2016-08-09 21:30] blueelvis opened #4 "Make Operating System Architecture Checking Asynchronous"
Right now, when the program tries to determine the architecture (32bit/64bit), the main thread hangs for some time before the function completes.

Make this function asynchronous so that the main GUI thread does not hang.

[2016-08-09 21:37] blueelvis commented on #3
@michaeljohnstone - Thanks buddy for reporting the issue. I have fixed the issue as of now. Please let me know if it still does not work ;)

https://github.com/blueelvis/ExercismWinSetup/commit/c26a2769b41d7e85c0cfae67fd2f4d7a243cc1c3

[2016-08-09 22:08] blueelvis commented on #2
This has been fixed. A new version is coming very soon.

[2016-08-09 22:08] #2 closed

[2016-08-10 03:11] michaeljohnstone commented on #3
Good work on the quick turn around!
Looking at your code check in you are checking a hardcoded string against the default value of installPath.Text which is set somewhere else - you should bring this out to some form of config/variable to remove the magicness of this string.

You also specifically check for this default directory and create it if it doesn't exist, which is redundant, is this check

[2016-08-11 19:34] blueelvis commented on #4
Fixed this.

[2016-08-11 19:34] #4 closed

[2016-08-11 19:36] blueelvis commented on #3
Hi Michael ^_^,

Thanks a lot for the feedback. I really appreciate it. Could you please see the latest commit? I am new to these projects so...

Also, could you guide me how I could write Unit Tests for a project like this?

Regarding the code review, GitHub is absolutely fine. If you are comfortable with another method, let me know and I will see what can be done ;)

[2016-08-14 14:27] kytrinyx commented on #1
This doesn't answer any of the above questions, but for reference, there are two files:

- the exercism.exe executable
- the config file (usually `$HOME/.exercism.json` but people can change it with either `EXERCISM_CONFIG_FILE` or ,`XDG_CONFIG_HOME` as environment variables)

[2016-08-14 18:22] blueelvis commented on #1
@kytrinyx - On using Exercism client, I have concluded that in order to make the uninstaller, it should have the following features -

- Create registry entries (So that it is visible in the Add/Remove Programs)
- It should remove the Configuration files, exercism client and the exercises (We can give users option about this one though)
- It should not leave any trace, i.e. it should delete itself

[2016-08-14 21:06] kytrinyx commented on #1
Yeah, that sounds like a good plan.

[2016-08-22 01:36] gusseting opened #5 "Testing: what has happened/what needs to happen?"
Would it be possible to show what testing has happened so far, and what needs to happen?
It would be great to see this installer in the CLI install pages as a simple download: http://exercism.io/cli
In order to see it as a simple download, I'm wondering if it's possible to test for at least the top 3 most used windows operating systems (rated top to bottom according to user statistics:
Operating S

[2016-08-23 08:23] blueelvis commented on #3
Marking this as fixed. Unit Tests are a separate topic.

[2016-08-23 08:23] #3 closed

[2016-08-27 09:56] blueelvis commented on #5
Hi Kylie!

Sorry for the delay. Life got in the way :P

Regarding the testing, I have tested the installer on the following operating systems -
 - Windows 10 64 bit
 - Windows 8 64 bit
 - Windows 7 64 bit

The package ran flawlessly on the above mentioned operating systems. Since it ran fine on Windows 8, I am very sure that there shouldn't be any problem on running it on Windows 8.1 as well :)

[2016-09-06 16:27] blueelvis opened #6 "Add Unit Tests to the code"
If anyone could help me or guide in writing Unit Tests for those code, please help me out!

[2016-10-06 01:17] sguermond opened #7 "Exercism is not added to path on Windows 10"
Installing the exercism CLI with the installer on Windows 10 does not add exercism.exe to the path, so you must go to the directory where exercism is installed to run it.

[2016-10-19 07:32] blueelvis commented on #7
@sguermond - Thanks for the report. Let me see what is going wrong :)

[2016-12-24 21:46] kytrinyx opened #8 "Add open source license"
At the moment this is not open source, since it doesn't have a license.

@blueelvis Would you be happy using the MIT license for this? http://choosealicense.com/licenses/mit/

[2017-02-06 11:29] blueelvis commented on #8
@kytrinyx Sorry for the lack of communication. Just started the job. And yes, I will implement this soon ;)

[2017-02-12 23:08] kytrinyx commented on #8
Congrats on the new job!

[2017-02-12 23:37] blueelvis commented on #8
@kytrinyx - Thanks a lot for the wishes. I am just setting up things. I have fixed this issue. You can check it out over here - https://github.com/exercism/windows-installer/blob/master/LICENSE

Please let me know in case any corrections are required. And thanks for the licensing website!

[2017-02-13 04:33] kytrinyx commented on #8
Mike should not be a copyright holder. I would delete this: https://github.com/exercism/windows-installer/blob/master/LICENSE#L3

And on this https://github.com/exercism/windows-installer/blob/master/LICENSE#L4

I would suggest:
[code]

This license is only for the Windows installer (this codebase) so it doesn't make sense to have the name of the software there.

[2017-02-13 05:35] blueelvis commented on #8
@kytrinyx - Changes done. I have removed Line number 3 and edited line 4.

[2017-02-13 06:32] kytrinyx commented on #8
Awesome, it looks great.

[2017-02-13 06:32] #8 closed

[2017-04-04 15:58] kytrinyx opened #9 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 17:34] kytrinyx commented on #9
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-07 20:30] blueelvis commented on #9
@kytrinyx - I am working on fixing these issues. I will add the Stale YAML file as well.

[2017-04-07 20:41] blueelvis opened #10 "Clicking link on Configure API Does not work"
Expected that the link would open up in the default browser but it did not happen.

[2017-04-07 20:42] blueelvis opened #11 "Window not downsizing when switching to a different window"

[2017-04-07 20:42] blueelvis opened #12 "There are no buttons to minimize,maximize or close the window"

[2017-04-09 14:32] blueelvis commented on #7
Fixed this issue in this commit - https://github.com/exercism/windows-installer/commit/d3b7f893034381de33864d0a26be036d41f8d95c

[2017-04-09 14:32] #7 closed

[2017-04-09 14:38] blueelvis commented on #9
@kytrinyx Added the empty Stale.yml file in this commit - https://github.com/exercism/windows-installer/commits/master

Closing this issue.

[2017-04-09 14:38] #9 closed

[2017-04-10 15:30] kytrinyx commented on #9
🌻 thank you @blueelvis!

[2017-05-05 15:22] kytrinyx commented on #1
I think this is probably still relevant.

[2017-05-06 21:22] #5 closed

[2017-05-06 21:22] #6 closed

[2017-06-15 04:31] #10 closed

[2017-06-15 04:31] #11 closed

[2017-06-15 04:31] #12 closed

[2017-07-11 23:45] #1 closed

[2017-07-18 17:44] rpottsoh opened #13 "windows-installer complaining about 7.0 32 bit not being compatible."
On my Windows 7.0 32 bit system I am greeted with the following upon executing `WinExercismSetup.exe`

![image](https://user-images.githubusercontent.com/6978003/28331182-19aabbd6-6bbe-11e7-91b0-9bfd59a2ce54.png)

The installer terminates when `OK` is clicked.  I am using the latest release `1.2`.

[2017-07-19 20:26] rpottsoh commented on #13
I have forked this repo and managed to load up the project.  It appears to me that the installer was targeted for x64 instead of x86.

Once I rebuilt locally for x86 the installer worked fine.

/cc: @kytrinyx , @iHiD

[2017-07-19 20:29] rpottsoh opened #14 "URL on Configure API screen does nothing"
The web link on this screen:

![image](https://user-images.githubusercontent.com/6978003/28388000-343bf910-6c9f-11e7-9e85-39b9a850b4c4.png)

Does nothing when clicked.

The only other issue I have come across is covered here #13.

[2017-07-19 21:25] kytrinyx commented on #13
That's a great find. It seems like we should build two releases, then?

[2017-07-19 22:05] rpottsoh commented on #13
I don't think it is necessary.  Just a 32 bit build should suffice.  64 bit windows will run 32 bit apps.

There is no harm in having both, it just means that one has to be careful to download the right version.

I am not familiar with how the installer decides which version of the CLI to download and install.  Is it based on flavor of Windows or the flavor of the installer's build.   At any rate

[2017-07-21 16:51] kytrinyx commented on #13
@rpottsoh Thanks! In that case I think we just need to make a new release of the 32 bit version. I've added you to the windows-installer team, giving you commit to this repository—in case you have spare cycles to cut a release (if you don't want to be on the team feel free to remove yourself!).

@blueelvis do you have time to cut a release with this change?

[2017-07-21 17:07] rpottsoh commented on #13
@kytrinyx I would feel better if @blueelvis would cut the release.  I consider my mod to be more of a hack that did resolve my issue, but may not be the best way to resolve the issue long term.  I happen to have VS on my computer for some minor C++ coding I do at work, thus C# was available so I thought I would take a look at the Windows-Installer project to see if I could first build it (which wa

[2017-07-21 17:30] kytrinyx commented on #13
@rpottsoh that sounds good! I merged it for now, and if we need to do something different, we can do that in a new PR.

I know that daunting feeling of trying to figure out the steps of something completely new. I'm exhausted just thinking about it.

Alright, I'm leaving this open for @blueelvis, and also we'll know what we can tell people if something like this comes up.

/cc @exercism/windows if

[2017-07-22 19:56] rpottsoh commented on #13
[1.2.1](https://github.com/exercism/windows-installer/releases) published.

[2017-07-22 19:56] #13 closed

[2017-07-22 20:10] kytrinyx commented on #13
Thank you so much, @rpottsoh!

[2017-07-24 09:31] assemusr opened #16 "Api Key unhandled exception"
I have the same issue here exercism/exercism.io#3589

[2017-07-24 14:34] rpottsoh opened #17 "Error configuring CLI: Unhandled Exception"
@eunicesukarto commented on [Sat Jul 15 2017](https://github.com/exercism/exercism.io/issues/3589)

I have trouble installing the CLI. When I enter the API key during configuration, an error message shows up.
![capture](https://user-images.githubusercontent.com/28812327/28238220-2c56aa02-6979-11e7-9399-973a3a59fd9e.PNG)

If I click Continue, the error message shows up again. If I click Quit, it sh

[2017-07-24 14:52] rpottsoh commented on #16
Lets pick this up in #17.

[2017-07-24 14:52] #16 closed

[2017-07-24 14:54] rpottsoh commented on #17
ref: #16
closes: exercism/exercism.io#3589

@eunicesukarto I am glad to read that you managed to manually install the windows CLI.  This past weekend I published an updated version of the Windows Installer [v 1.2.1](https://github.com/exercism/windows-installer/releases/latest) for the CLI.  While the update doesn't address this specific issue (I was not aware of it till today, I only started look

[2017-07-24 20:52] assemusr commented on #17
@rpottsoh Thanks for your dedicated work. I used the lasted version you're referring to on (x64 Windows 8.1), and my error was similar to this one.

[2017-07-24 21:15] rpottsoh commented on #17
I'll take a look at the code when I get a chance to see if I can see anything obvious.  I do not have access to 64 bit windows so I am not able to create the problem.  I do not see the error in 32 bit os.  At least I know that the problem was not affected by my release.

@assemusr thanks for the feedback.

[2017-07-30 05:25] rpottsoh commented on #17
@assemusr and @eunicesukarto I have been working on a new Windows Installer.  If you are willing to participate I could use some help by having someone try out the [Release Candidate](https://github.com/exercism/windows-installer/releases/tag/RC1) that I have published.

[2017-07-30 05:25] rpottsoh commented on #14
New Windows Installer fixes this problem.

[2017-07-30 05:25] #14 closed

[2017-07-30 05:54] rpottsoh opened #20 "License needs to be updated"
[License](https://github.com/exercism/windows-installer/blob/master/LICENSE) needs to be updated to reflect the name of the new author.

[2017-07-30 05:57] rpottsoh opened #21 "Readme.md will need to be updated"
[Readme.md](https://github.com/exercism/windows-installer/blob/master/README.md) will need to be updated as the new installer is released.  The release will likely no happen until after Nextercism makes its debut.

[2017-07-30 06:52] assemusr commented on #17
This error popped up

![capture](https://user-images.githubusercontent.com/16057969/28751292-4564fa8a-7504-11e7-8ec9-37f09fd81754.PNG)

[2017-07-30 07:24] rpottsoh commented on #17
@assemusr thanks for the quick feedback!  I am not able to create this error here so this may be difficult to diagnose.  Anyway, I have made a minor change and published an update [here](https://github.com/rpottsoh/exercism-windows-installer/releases/tag/RC1.1) that you may try.   for the sake of testing you may want to consider installing to a different folder than the one you normally have the C

[2017-07-30 13:17] assemusr commented on #17
It doesn't actually matter, the Exercism folder is empty (the previous CLI didn't extract the zip file).

Anyway, the new installer extracted one file called 'exercism.exe' into the specified directory. But then again I couldn't continue the installation because of the API configuration.

![capture](https://user-images.githubusercontent.com/16057969/28753788-0a6c3e80-753a-11e7-835c-4719eb51944d.PN

[2017-07-30 14:23] rpottsoh commented on #17
@assemusr I am able to recreate this error on my 64 bit machine, no problem on my 32 bit machine. 👍 I'll take a look.  I suspect my technique for spawning the CLI to `configure` itself is the issue.  I have another way to do it that should take care of this.  I'll let you know when I have another RC for you to try.  Thanks!

@kotp I am not sure if you are running 32 bit or 64 bit windows in your V

[2017-07-30 15:10] kotp commented on #17
It would be nice if that error would identify what the file is that is "specified".

[2017-07-30 21:06] rpottsoh commented on #17
It shows the name of the file in the image @assemusr posted.

[2017-07-31 01:32] rpottsoh commented on #17
@assemusr and @kotp please try out [RC1.2](https://github.com/rpottsoh/exercism-windows-installer/releases/tag/RC1.2) please.  This version does work on my 64 bit Windows 10 system.  Thanks

[2017-07-31 16:55] assemusr commented on #17
@rpottsoh Yeah, it works 😃 Thanks 😄
Does this considered as full release? should I continue using it?

[2017-07-31 17:09] rpottsoh commented on #17
The answer is yes and no. :smile_cat:

Yes, you can use it, I am glad it finally worked for you.

No it is not a release version.  I was planning to hold off on publishing a release until after Nextercism comes online.  I understand that there are some visual changes that I will want to make to the installer to better align its look to that of the new site.

I am not anticipating any functional ch

[2017-07-31 17:48] assemusr commented on #17
Great, I appreciate your help. 😄

[2017-08-04 19:12] rpottsoh opened #26 "Installer will need to be updated in accordance with Nextercism CLI"
The CLI will be changing to be compatible with Nextercism.  As the CLI is updated the Windows Installer will also need to be updated in order to remain compatible with the CLI.  Namely, the Windows Installer invokes the `configure` command of the CLI.  As the `configure` is updated changes may need to be made to the Installer.  Environment variables may also need to be created as well..

See exerc

[2017-08-06 07:38] #17 closed

[2017-08-06 07:40] #20 closed

[2017-08-15 00:37] rpottsoh commented on #26
@kytrinyx will Windows releases of the CLI, going forward, be released in the same ZIP filenames that they are presently?  My concern is that anyone still using the old Windows Installer will have issues during the install process when the installer tries to invoke `configure` `--api=` and `--dir=` commands.  The new installer for Nextercism CLI will not be a problem.

The more I think about this,

[2017-08-15 15:42] kytrinyx commented on #26
For now, while the v2 website is in beta, we will be releasing the `nextercism` CLI under the name `nextercism.exe` (and zip) so that people can test the beta and still use the live site. I don't know if this is relevant to the installer, though.

I'm not sure.

The core problem here is that for the old CLI you want to call the configure command, but for the new one you don't?

[2017-08-15 16:34] rpottsoh commented on #26
Correct.  See #24, the long and the short of it being that the new CLI will be interactive so the only functions the installer need perform is downloading the correct (32/64 bit windows) CLI for the user, unzip it, and update the PATH.  The installer never needs to invoke the CLI.  There are other small items, but that is the jist.

Should the installer be modified to install either CLI?  The user

[2017-08-15 16:38] kytrinyx commented on #26
How about checking the version of the CLI that you download? The URL that you get redirected to when you call /latest will have that in it. If it is 2.x.y then it is the old one, if it is 3.x.y then it is the new one.

No, I don't think that's useful. It should only download the latest official one. (The nextercism cli will be prerelease, so it won't be delivered as "latest").

If people want to b

[2017-08-15 17:10] rpottsoh commented on #26
I think I am only half following what you are saying.

The installer will not be used for the new CLI while it is in pre-release.  I have no problem with that.

This is where you lost me.  I could update the installer so that when it is runs it can check to see if it is the latest version.  If it isn't the latest it would provide a link to click to take the user to the /latest site to download the

[2017-08-15 17:27] kytrinyx commented on #26
Yepp, that's exactly it.

The old site will always use 2.x.y and the new site will always use 3.x.y - we won't transition back to 2.x.y. If anything, we would then introduce 4.x.y, which we could update the installer to handle.

[2017-08-15 17:49] rpottsoh commented on #26
This should be coded in absolute terms then?  If V2 do this.  If V3 do this.  Not if V3 and up do this.  Correct?  This would require that the installer always have an update whenever the CLI increased its major version.  I'm fine with it either way.  The most control is retained by using absolutes.

[2017-08-15 19:15] kytrinyx commented on #26
I don't think it matters much at this point—let's go with v2/v3-and-up and we can change it if we need to.

[2017-08-15 20:12] blueelvis commented on #21
Thanks for creating this issue. This got lost in my Github notifications :(

[2017-08-15 20:20] rpottsoh commented on #21
No problem.  I hope you are not too offended but I have gone and written a new installer in Delphi.  I would be happy to work on it with you if you are willing.

cc: @kytrinyx

[2017-08-15 20:26] blueelvis commented on #21
@rpottsoh - Offended? I should be the one saying sorry here. I am sorry about this. I just took quick peek at the latest release along with all the issues and PRs and thanks a lot. You have done excellent work! I actually enabled notifications for another project and their work spammed all of my notifications. I recently unfollowed them and saw this.

If you have some work for me, just assign it t

[2017-08-16 17:12] rpottsoh commented on #26
@kytrinyx another clarification.  I need to know that what the ZIP file names will be for the V3 Windows CLI (32 & 64 bit).  I am presuming the ZIP names will be the same as they are now.  I thinking this since the Installer will not have access to the V3 CLI until it is passed the pre-release phase and is actually released.

[2017-08-16 22:01] kytrinyx commented on #26
Yes, that is correct.

[2017-08-19 22:39] rpottsoh commented on #26
@kytrinyx now that I have had a chance to try out the nextercism CLI is `configure` going to become interactive at some point?  Right now `configure` in the v3 CLI is essentially the same as the v2 CLI.  I guess I want to make sure we are on the same page on what interactive means.  I'm assuming the first time `nextercism configure` is invoked, the CLI will prompt the user to input their token and

[2017-08-19 23:34] kytrinyx commented on #26
@rpottsoh `configure` will not become interactive, but `download` and `submit` will interactively ask for information that would normally be set in configure, if we don't have that information yet.

[2017-08-19 23:41] rpottsoh commented on #26
OK.  I was assuming the `configure` would be as well.  `download` and `submit` makes more sense.  I'll keep to the plan as we have it laid out above.  It appears, though, that if you want the installer to configure the v3 CLI for the user that that is still an option as long as `--token` and `--workspace` persist.  The process would be the same as it is now for the v2 CLI.

[2017-08-20 00:04] kytrinyx commented on #26
I'd rather not. Thanks!

[2017-08-20 04:00] rpottsoh commented on #26
@kytrinyx the changes that we have discussed have been implemented and I think I am ready to release.  The installer will install v2 and v3 CLIs fine.  v2's will be configured and v3's will not.  At the conclusion of the v3 install the user is informed to execute the CLI, also a link is available on the screen that links to exercism/docs.

[2017-08-20 04:32] kytrinyx commented on #26
That sounds great, @rpottsoh! Nice work on this ✨

[2017-08-20 04:38] #26 closed

[2017-08-20 04:57] rpottsoh commented on #21
Thanks for being so gracious @blueelvis.  I am going to go ahead and close this issue as I have released a new version of the installer and updated the README.  This version of the installer should bridge the install process and work for the old and new CLI.

[2017-08-20 04:57] #21 closed

[2017-08-20 05:00] rpottsoh commented on #26
Thanks, it has been fun.  Looking forward to doing more.

[2017-08-28 00:07] rpottsoh opened #28 "Should older releases be taken down?"
@kytrinyx should older releases of the installer be taken down especially as Nextercism eventually goes public?

[2017-08-28 03:56] kytrinyx commented on #28
I think we should leave them, but edit them to show a deprecation notice.

[2017-08-28 13:08] rpottsoh commented on #28
@kytrinyx I'll work on this.  However, I would like to understand what the value is in keeping deprecated versions available for download.  Older versions will not be compatible with the v2 CLI, the final step the installer takes to configure the v1 CLI will be problematic for the v2 CLI.

[2017-08-30 02:13] rpottsoh commented on #28
I have added a deprecation notice to the obsolete releases.  Let me know if you had something different in mind and I'll take care of it.

[2017-09-01 14:58] kytrinyx commented on #28
That looks good to me. Thank you!

[2017-11-02 12:49] #28 closed

[2017-11-19 17:17] staylorx opened #30 "Symantec quarantines the windows install file immediately"
My work computer immediately quarantined the windows installer 1.4 file.

Both historical and current reputation has this comment: "There is strong evidence that this file is untrustworthy."

[2017-11-19 17:49] rpottsoh commented on #30
@staylorx I'm sorry to hear you are experiencing difficulties with the installer.  Since it was released in August it has been downloaded over 2800 times with zero reported incidences of trouble.

Can you provide more detailed information from Symantec?  I have not had access to any Symantec products for several years now, I always found Norton to be a little "over protective".

I want to work wit

[2017-11-19 18:08] staylorx commented on #30
@rpottsoh It's really no issue for me. I can switch over to my non-work rig and try it there.

I'm sure our Symantec is probably a little tight.

Details are here:
![image](https://user-images.githubusercontent.com/246923/32993768-dc84d670-cd19-11e7-920a-41f908a26cdf.png)

[2017-11-19 18:08] #30 closed

[2018-03-10 14:32] OPARA-PROSPER opened #33 "REST request failed: error getting server certificate."
I have been trying to install the windows-installer version on my local machine running on a windows 7 OS. I have been getting this error message each time I try to install the CLI tool.

[2018-03-10 14:42] rpottsoh commented on #33
Sorry to learn you have difficulties.  Is `REST request failed: error getting server certificate.` the complete message you are seeing?  Is there anything else being reported you could share with me?  HOw is the error message being presented, in a pop-up window?

[2018-03-10 14:45] OPARA-PROSPER commented on #33
That's the complete error message.

[2018-03-10 14:57] rpottsoh commented on #33
Let me know what you see if you enter the following url into your web browser:
https://api.github.com/repos/exercism/cli/releases/latest

You should receive a bunch of JSON or you might get the error message.

[2018-03-10 15:02] OPARA-PROSPER commented on #33
The link actually contains a bunch of JSON like you said.

[2018-03-10 17:05] rpottsoh commented on #33
@OPARA-PROSPER I am unable to reproduce the error you have described.  Make sure you are executing the installer as Administrator, if you have not tried this already.

The latest version of the CLI may be downloaded from [here](https://github.com/exercism/cli/releases/tag/v2.4.1).

[Setup](http://exercism.io/clients/cli/windows) the CLI manually.  Configuration instructions can be found after scro

[2018-03-11 21:30] OPARA-PROSPER commented on #33
I tried setting up manually and it worked, thanks for the feedback.

[2018-03-18 23:35] rpottsoh commented on #33
@acgoncu I noticed your post on gitter regarding an issue with the Windows CLI installer.  Thanks for the screen image.  Are you using what version of Windows are you using?

[2018-03-19 00:26] rpottsoh commented on #33
I can recreate this problem in Windows 7 but not in Windows 10.  But what is even more disturbing is the previous version of the installer, 1.4.0, released last August, that I tested on Windows 7, also exhibits the same symptom.  The 1.4.0 installer has not changed.  Has something on GitHub changed?

[2018-03-19 11:09] NobbZ commented on #33
Perhaps some certifiactes have been replaced by certificates which sign chain can't be properly verified until its root certificate and is therefore considered untrusted?

I'm not sure if Windows 7 got the newest updates on certificates.

I'm not even sure if one can update those in Windows by hand.

[2018-03-19 11:31] rpottsoh commented on #33
All good questions.  This is a very annoying issue to say the least.  Chrome and IE Web browsers on Win 7 will receive the JSON response.  The version of the installer that I published was developed on a win 7 machine and worked fine then.  Now the same release doesn't work on the same machine.  There could be something to what you suggest, I don't know how to deal with that scenario, yet.

Thanks

[2018-03-19 15:47] acgoncu commented on #33
I have Windows 7.  I tried the Aug '17 and the Dec '17 installers, and both prompted the error message.

[2018-03-19 15:58] rpottsoh commented on #33
This is what I have discovered as well.  Back in August it worked on Windows 7, but not today.  The installer does work fine in Windows 10.  I'll get this figured out eventually.  Let me know if you have any issues or questions regarding installing the CLI manually as @NobbZ recommended on Gitter.

[2018-03-21 13:43] rpottsoh commented on #33
Thanks @NobbZ this is the sort of information I have looking for to rationalize why something I compiled last August, that worked, now no longer works.

I think it is not enough to just upgrade ones installation of Windows, I think the application may also need to be updated to utilize the changes as well.  The latest version of Delphi 10.2.3 (released a few days ago) I learned yesterday has updat

[2018-03-21 13:47] NobbZ commented on #33
https://blog.github.com/2018-02-23-weak-cryptographic-standards-removed/

So yes, this is a very recent change on githubs side, barely a month ago.

[2018-03-21 14:00] rpottsoh commented on #33
Thanks @NobbZ.  I was not aware.  My work on the Installer started in July last year.  In hindsight it would have been nice if the REST response from `api.github.com` included a blurb regarding using a soon to be unsupported security protocol, if one was being used....

[2018-03-23 17:31] rpottsoh commented on #33
Follow these [instructions](https://support.microsoft.com/en-us/help/3140245/update-to-enable-tls-1-1-and-tls-1-2-as-a-default-secure-protocols-in) if you are running windows version earlier than version 10.  You need to download and execute `MicrosoftEasyFix51044.msi`.  This will make the necessary changes to the Windows registry in order for windows to default to the TLS 1.1 and 1.2 protocol, in

[2018-03-23 17:57] rpottsoh commented on #33
@OPARA-PROSPER and @acgoncu if you are willing would you mind attempting the fix I described in my previous comment?  The fix has worked on my Windows 7 system, likely it will as well on yours.  I would just like to have more than my system to go by before I update the release notes for the Windows CLI Installer.  Let me know if you have any questions.

[2018-03-25 17:44] rpottsoh commented on #33
I have released an update to the CLI Installer that addresses this issue.  The installer will detect if there is an issue an advise the user to what actions need to be taken to make their system compatible.
https://github.com/exercism/windows-installer/releases/tag/v1.4.2

[2018-03-25 17:44] #33 closed

[2018-04-10 07:21] catalin560 opened #35 "[Windows 10 x64] Error while trying to install Exercism CLI"
The installer malfunctions right after I open it (with admin rights) and I can't do anything else beside closing it...
![err](https://user-images.githubusercontent.com/22744333/38541765-bdf99048-3ca8-11e8-88a0-e94d19737f33.jpg)
downloaded from https://github.com/exercism/windows-installer/releases/tag/v1.4.2

[2018-04-10 14:10] rpottsoh commented on #35
@catalin560 I am sorry you are experiencing this error.  This is a strange one to say the least.  How many times have you tried running the installer?  So far I am not able to reproduce the error.  Likely, within the next 24 hours, I will make a pre-release available that will address this issue.  I am working from my Windows 7 system at the moment.  I don't want to release anything until I have h

[2018-04-10 14:26] rpottsoh commented on #35
@catalin560, I have figured it out.  Your Locale settings in Windows is what has triggered the error.  A minor fix to the installer will allow it to compensate for the settings of your installation of Windows.  There is nothing wrong with what you are doing.  I didn't account for the fact that sometimes `,` is used as a decimal separator instead of as a thousands separator.  I can recreate the err

[2018-04-10 14:51] rpottsoh commented on #35
@catalin560 I have published a pre-release that I would like for your to test for me, if you are willing and able.  You will find it here:
https://github.com/rpottsoh/exercism-windows-installer/releases/tag/v1.4.2.1

[2018-04-10 17:50] MarZ3r0 commented on #35
Thanks, I had the same error but with this pre-release the error have been solved.

[2018-04-10 17:57] rpottsoh commented on #35
Excellent!  I appreciate the feedback @MarZ3r0.  :+1:

[2018-04-11 02:01] #35 closed

[2018-04-11 06:38] catalin560 commented on #35
@rpottsoh Aha! This time it worked! Although I've already figured out how to manually install it thanks to the help of @NobbZ on gitter!

Thank you very much for your prompt response!

[2018-05-29 03:56] Mabinogiysk opened #38 "Error Message: "Adapter RootElement, "assets", is not a valid path for the response JSON.""
I got an error during installing:
[code]
![image](https://user-images.githubusercontent.com/12441989/40637408-48095098-6337-11e8-86ac-ad5056d3c947.png)

[2018-05-29 13:27] rpottsoh commented on #38
@Mabinogiysk thanks for bringing  this issue to my attention.  How many times have you tried to run the installer?  I want to make sure that you have tried more than once.  Did you you just recently download the installer?  I want to make sure you are using the [latest](https://github.com/exercism/windows-installer/releases/latest) version of the installer.

So far, I am unable to reproduce this e

[2018-05-30 02:43] Mabinogiysk commented on #38
I was using the latest version 1.4.3 and I had tried it for several times. Now I have installed it with manual installation.
I am using win7 enterprise, which is customized by the company. I think this is the problem, but I do not know what the locale settings is.
I have tried the latest version 1.4.4 and the problem remains the same. Never mind, now I can use it without any problems.

[2018-05-30 13:48] rpottsoh commented on #38
@Mabinogiysk I am glad to see that you were able to install the CLI manually.  Before I put this issue to bed would you mind posting here, from the browser of the computer that is causing the problem, the output from `https://api.github.com/repos/exercism/cli/releases/latest`.  I would like a chance to examine the response to see what may be unexpectedly different.

[2018-05-31 01:11] Mabinogiysk commented on #38
{
  "url": "https://api.github.com/repos/exercism/cli/releases/6902445",
  "assets_url": "https://api.github.com/repos/exercism/cli/releases/6902445/assets",
  "upload_url": "https://uploads.github.com/repos/exercism/cli/releases/6902445/assets{?name,label}",
  "html_url": "https://github.com/exercism/cli/releases/tag/v2.4.1",
  "id": 6902445,
  "node_id": "MDc6UmVsZWFzZTY5MDI0NDU=",
  "tag_name":

[2018-05-31 01:32] Mabinogiysk commented on #38
Thanks for your help, I am glad that I can help you.

[2018-06-03 23:49] rpottsoh commented on #38
@Mabinogiysk I have been working on a pre-release version that attempts to address the issue you reported a few days ago.  I know you managed to get the CLI installed manually, but I am hoping that you would be willing and able to test this new version.  You are the only that I know that can recreate the problem.  The trial version is available for download from here: https://github.com/rpottsoh/e

[2018-06-04 11:34] Mabinogiysk commented on #38
I have intalled it with this version!

[2018-06-04 12:33] rpottsoh commented on #38
Excellent!  Thanks for testing this for me.

[2018-06-04 12:36] rpottsoh commented on #38
I will close this issue when I release a new version of the installer.

[2018-06-05 02:13] #38 closed

[2018-07-03 13:56] rpottsoh opened #40 "Need to update EXE's icon from old logo to new logo."
@kytrinyx at some point  the icon for the installer needs to be updated.  Can you point me to the PNG or ICO file you would like me to use?

[2018-07-03 15:28] rpottsoh commented on #40
@kytrinyx I came across this folder https://github.com/exercism/prototype/tree/master/app/assets/images in exercism/prototype.  I should be able to come up with what I need from here.

[2018-07-15 21:12] rpottsoh opened #43 "Linking to CLI documentation..."
@kytrinyx the Windows Installer has a link that is intended to take the user to the CLI's documentation.  Presently the label on the form points to https://github.com/exercism/docs.  This is not a very useful place to send people for instructions specific to the CLI.  What url should I be using?  The best thing I have found so far is: http://cli.exercism.io/.

[2018-07-22 00:16] #43 closed

[2018-07-22 00:16] #40 closed

[2018-07-26 19:04] kytrinyx commented on #40
So sorry I missed this, thank you for getting it sorted out!

[2018-07-27 00:07] rpottsoh opened #46 "Announcement of TLS Check failure needs to be more pronounced."
per exercism/cli#684.

The Installer failed the TLS check on a users PC.  It was not clear to them what their next course of action should be.

It was proposed that the clickable label, that links to the MS website, should blink or do something more pronounced to catch the users attention.

A dialog box should have also appeared that would have informed the user what TLS version was found and that

[2018-07-27 01:00] #46 closed

[2018-07-30 23:23] rpottsoh opened #48 "Windows CLI install issue - can't click "Next >" after choosing path"
@bostonrwalker commented on [Thu Jul 26 2018](https://github.com/exercism/cli/issues/684)

I'm trying to install in AppData since I don't have permissions on C:/ on this machine. Unfortunately, the installer won't let me get past the first prompt! I also visited the license agreement link to see if that would help, but the "Next >" button is still greyed out. Shift+ N doesn't work either.

![2018-

[2018-08-08 04:22] #48 closed, assigned to nobody

[2018-09-20 21:03] hp-e opened #50 "When Installing the CLI with the installer, it removes user-defined path's in the environment variables"
Hi

When I installed the exercism cli on my windows machine today, it removed all the user-defined paths in the environment variables, it should append the exerxism to the list and not replacing the list.

I used the installer from the website (Delphi...?)

hp

[2018-09-21 01:10] rpottsoh commented on #50
@hp-e I am sorry to hear that the installer gave you some grief.  What version of Windows are you using?  The installer is developed on a Windows 10 system and I also test it on a Windows 7 system.  I have nothing else to work with.  The source code is appending to the path and shouldn't be *erasing* your path information.

Can you tell me more about your system?  The code responsible for updating

[2018-09-21 08:04] hp-e commented on #50
@rpottsoh Thanks for answering :-)

About my machine
OS: MS Windows 10 Enterprise
Version: 10.0.15063 Build 15063
Machine: Fujitsu Lifebook U747, x64
Processor: i7-7500U

To me (a non pascal dev), your code looks correct and does exactly the same things that the code I published yesterday did.

Well, Today I did a reinstall to see if this was the installer or if it was a coincidence.

1) Added bac

[2018-09-21 08:04] #50 closed

[2018-09-21 15:46] rpottsoh commented on #50
No worries.  I am glad it all worked out OK for you the second time around.

I would like to not add to the path.  I can get away with this I think with Windows 10 but I don't think I can with Windows 7 (I don't know about version in between).  I am not aware of a folder that is always in the path that I can be assured will always be available for new files to be written to and not be blocked by a

[2019-04-18 19:45] reactstl opened #52 "Better instructions:"
(1) Download all three items.

(2) Open GitBash in the newly--and automatically!--created Exercism folder.

(3) Type this: exercism configure --token=YOUR_EXERCISM_TOKEN_WHICH_IS_SPECIFIC_TO_YOU
^
Assuming you are logged in, your Exercism token can be found at this page: http://exercism.io/my/settings

[2019-04-18 20:07] rpottsoh commented on #52
Are you referring to the Walk-through or the Windows Installer?  They are two different things.  I am not sure how to relate what you have posted directly to the Windows Installer.  The repo for the walk-through may be found here https://github.com/exercism/interactive-cli-walkthrough

[2019-04-29 02:42] rpottsoh commented on #52
I am closing this due to no response.  If you are still having an issue or have questions please feel free to ask.

[2019-04-29 02:42] #52 closed

[2019-05-22 04:53] CRhushikesh opened #55 "dotnet test not working on windows 10 home"
when I type the command
dotnet test   --- for testing suggested for first exercise...  it displays following message on CMD

operable program or batch file.

![dotnet_test_failed](https://user-images.githubusercontent.com/50285224/58148256-a86c4400-7c7b-11e9-8947-5afebc19c992.png)

[2019-05-22 10:29] rpottsoh commented on #55
@CRhushikesh I think you have posted this to the wrong repo.  This is the Windows Installer repo.  The Windows Installer is a tool for installing the CLI onto a Windows based system.

Your issue seems more appropriate to one of the language tracks.  Which language track are you attempting to setup?  I can then point you to the right place to seek assistance.  [Gitter](https://gitter.im/exercism/su

[2019-05-24 22:36] rpottsoh commented on #55
Let me know if I can be of some assistance.  For now I am going to close this issue.

[2019-05-24 22:36] #55 closed

[2019-06-27 21:07] NobbZ opened #56 "Search for on old/defect copy of exercism in PATH before installing"
Today in the gitter there was a student who already used exercism CLI 2.x and came back after more than a year of pausing.

The student tried to use the built-in upgrade command of the CLI (it is so far unknown if the student did a manual installation, used choco or even an older version of the installer) which failed due to exercism/cli#645.

The installer should be able to recognize if there is

[2019-06-27 21:40] rpottsoh commented on #56
@NobbZ, I noticed the post on gitter.  I like both of your suggestions.  I'll see what I can do.

[2019-08-24 04:47] halmai opened #58 "cannot create readme.md while installing"
I am trying to install exercism on a new win10. During the install I change the destination location to `C:\Program Files\exercism`, this is the way how I like to organize my files.

As an administrator, I gave all the permission to every user for this directory.

The installation dialog says it downloaded the zip and started to install it. After writing `"Unzipping CLI to C:\Program Files\exercis

[2019-08-24 12:05] rpottsoh commented on #58
The installer is a 32 bit executable.  I don't recommend placing it in program files.  The sole job of the installer is to download the appropriate version of the CLI for your system.

My recommendation is to stay away from the program files area and see if the issue goes away.

[2019-08-24 12:08] rpottsoh commented on #58
The error message also does not appear to be generated by the installer but rather by the CLI.  It is generally considered a bad practice to work within program files.  The CLI may have been configured to place the files it download in this area.  Where work on exercises is stored should not be in program files.

[2019-08-24 16:30] halmai commented on #58
I think if it is not supposed to run there then it explicitly should prohibit to be started from there. Such an error message should be displayed then:

    You cannot run this program from the `Program Files` or `Program Files (x86)` directory.

This would be much better than a weird error message that does not explain anything.

But anyway, I cannot see any reason why I shouldn't place a program

[2019-08-24 16:40] rpottsoh commented on #58
The installer is not creating or attempting to create the shell folder.  I suggest downloading the zip file manually from the exercism/CLI repo and see what it contains.  The installer simply downloads and extracts the zip to the folder you indicate and also adds the path indicated to PATH.

I am curious to know what you find if you let the installer install to the suggested location.

Sent from M

[2019-08-26 12:36] halmai commented on #58
I am not sure which program wants to create the `shell` directory, the installer or the CLI. The only sure thing is that after starting the installer, I got the error message and it caused some head scratching to me. Regardless of whether this is a bug in the installer or the CLI, it would be nice to fix it.

I already installed exercism as I wrote above, thus I don't want to poke my system anymor

[2019-08-26 12:44] rpottsoh commented on #58
How did you finally install the CLI?

Sent from MailDroid

[2019-08-26 14:24] halmai commented on #58
I wrote it in my first message, see the paragraph that starts with "I worked it around". :)

Basically, I installed it one level deeper so that the `../shell` directory still falls under the one I wanted to install the whole exercism software in.

[2019-08-26 16:34] rpottsoh commented on #58
Ok, I'll review again later.  I am just going by what GitHub is feeding me via. email, I don't get to see previous posts to the issue that way.

Sent from MailDroid

[2019-09-30 06:02] nhomble opened #59 "Failed to set data for 'path'"
Through the UI I tried to install exercism on my windows 10 machine [here](https://github.com/exercism/windows-installer/releases/tag/v1.5.3).

The installer has the following output
[code]
I have tried both installing to my ```C:``` drive and onto a separate disk (E:) where I have a separate bin folder of random executables I use.

Unfortunately, the pop up doesn't tell me much else to debug othe

[2019-09-30 11:00] rpottsoh commented on #59
What is <folder>?  Please provide screen shot of error you see.

[2019-09-30 12:37] nhomble commented on #59
![image](https://user-images.githubusercontent.com/3923558/65879291-88513d80-e35d-11e9-9a07-086f970eb395.png)

[2019-09-30 12:49] rpottsoh commented on #59
What install location did you input on the first screen?  Have you tried running the installer as administrator?

[2019-09-30 22:49] rpottsoh commented on #58
Unable to reproduce.

[2019-09-30 22:49] #58 closed

[2019-10-01 12:20] nhomble commented on #59
The image shows the inputted path "E:\bin" and running as admin doesn't work.

As a side note, there's now way to exit the installer via the UI when I am in this state. "Finish" is greyed out. I have to right click the window on the windows toolbar.

[2019-10-01 13:18] rpottsoh commented on #59
The installer has entered a state that I cannot duplicate and cannot easily detect.  Based on the error message it still appears like a permissions issue, even though you are running the installer as administrator.  If you are willing to dig into this a little bit more for me would you be willing to look into this https://support.microsoft.com/en-us/help/15078/windows-10-make-older-apps-or-program

[2019-10-02 12:34] nhomble commented on #59
Good news is ```exercism.exe``` does exist. If you dumped trace logs of the installation process I could debug it too. Up to you.

[2020-01-04 16:41] #59 closed

[2020-03-17 10:39] T1mL3arn opened #60 "Cannot uninstall"
## What I did

1. Download windows installer
2. Install cli with it
3. Tried to uninstall ...

## What I got

Could not find the installed app in the OS software list to uninstall the app.

## What I expected

The presence of the app to be uninstalled.

## Additional info

Similar #1 issue is closed. Is the feature not implemented ?

OS: WIndows 8.1 x64

[2020-06-03 07:57] webster-wq opened #61 "Error reading zip file"
When I run window-install, I can't install normally. The installer always prompts me "Error reading zip file" halfway through.
![1A8A65A4-F13D-490a-9643-FEAF3C49A61B](https://user-images.githubusercontent.com/62084368/83610998-e603ec80-a5b2-11ea-83be-d979088f4e9a.png)

[2020-06-03 13:42] rpottsoh commented on #61
I'll see if I can recreate.  In the meantime you can follow the walk-through on the website and install the CLI manually.  I would be interested in knowing if you have any difficulties with the zip file that way.

[2020-06-04 14:02] arlm opened #62 "Add configuration to ignore SSL certificate check and get proxy configuration"
lease add the option of enabling and disabling certificate check for SSL connections. I have a proxy in the middle that changes the certificate and can't connect to the server. Also the option of using proxies or detecting the Internet Explorer configuration on that aspect.

If that is OK for all I can work on an PR for that on Delphi and C#, if the project supporters approves this feature request

[2020-06-04 16:13] rpottsoh commented on #62
You would need to use Delphi.  Code should build in latest CE version, which is free.

[2020-08-03 20:57] Diggsey opened #63 "Better default installation path"
Installing directly to `C:` by default is a little obnoxious, especially with the vague warning about permission issues (which makes no sense, since `C:` typically has the strictest permissions.

It gives no idea what the installer is actually going to install, or what permissions it requires, making it hard to override it with a better choice.

Binaries should normally be installed to the "progra

[2020-08-03 21:13] rpottsoh commented on #63
The default location that it is indicating is `c:\Exercism`.

Some users have run into issues when they attempt to install to Program Files.  Creating a folder off of root has proven to be the least problematic for everyone so far thus my default suggestion of `c:\Exercism`.

The installer is installing the CLI (exercism.exe) which may also be installed manually, the installation walkthrough will

[2020-08-06 20:29] Anas966 commented on #60
Please is there any way to uninstall exercism

[2020-08-06 20:45] rpottsoh commented on #60
@Anas966 simply go to the folder to which you instructed the installer to install the CLI and delete `exercism.exe`.  The only thing the installer is doing is placing a copy of `exercism.exe` into the folder you indicated.

[2020-08-06 20:52] #60 closed

[2020-08-08 06:38] NobbZ commented on #60
I'm not aware of how exactly the windows installer works, but usually there is some software corner in the windows settings, and it lists installed software. If the windows installer causes exercism to be listed there, then a proper uninstall option should be provided. If its not listed there, then just deleting the folder is technically sufficient, but still inconvinient.

We provided the install

[2020-11-08 18:12] ChipoXD opened #64 "Installer soft locking"
After downloading ExercismCLIInstaller.exe and chossing a directory.
If you push "Stop Download", the installer soft locks.

[2020-12-29 03:34] marienneLopez opened #65 "Attempting to download Exercism exercise is successful on cmd but it does not appear on folder"
I installed and configured Exercism using the installer and I tried to get the Hello World exercise under Java. I am using a 64-bit Windows platform.

However, the cmd does say that it has downloaded the exercise to my folder but when I try to look up the folder, it does not exist.

[2020-12-29 03:53] rpottsoh commented on #65
It sounds like you have installed the CLI correctly and are having an issue with the CLI and not the installer.  You should open an issue in the exercism/exercism repository for assistance with the CLI.

[2021-01-28 15:53] ErikSchierboom opened #66 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:56] ErikSchierboom commented on #66
As of today, the default branch of this repository has been changed to main.

[2021-04-04 06:27] Ladymoradi commented on #65
You can change the path to the exercism folder

[2021-04-04 15:17] rpottsoh commented on #65
When you run the installer you can specify where the installer will install the CLI.  I don't know what you mean by the excercism folder.  It is possible that one may participate in more than one track.  You can install the CLI wherever you want, just make sure the Path is updated so Windows can find it.

There is also a manual installation walkthrough offered on the Excercism website.

[2021-04-04 15:17] #65 closed

[2021-05-21 18:10] #66 closed

[2022-01-14 18:01] limavini opened #75 "Invalid url on CLI configuration"
While configuring the CLI for the first time, you have to run the following command:
`exercism configure`.

The following message is shown:
`There is no token configured. Find your token on https://exercism.io/my/settings, and call this command again with --token=<your-token>.`

But when you try to access https://exercism.io/my/settings, it is invalid. The correct URL should be https://exercism.or

[2022-01-14 18:04] #75 closed

[2022-06-20 13:54] saidrrh opened #80 "What is this?"
https://www.virustotal.com/gui/file/d42656596d4058bf7b023093589892c2c7702520a7fc3eb7eb728471e3c1eb14

[2022-09-16 01:42] yihuajack commented on #60
You'd better also remove Exercism.exe from User Variables